body {
    margin: 0;
    background-color: rgb(88,0,139,0.521);
    font-family: arial;
  }
  .caixa {
    background-color:rgb(124,51,153);
    width: 40%;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    padding: 2% 0%;
    margin-top: 4%;
  }
  h2 {
    margin-top: 0;
    font-weight: bold;
  }
  input {
    width: 60%;
    margin-bottom: 2%;
    padding: 2% 1%;
    border-radius: 8px;
    border:0%
  }
  button {
    width: 60%;
    padding: 2% 1%;
    border-radius: 8px;
    border: 0;
    background-color: violet;
    font-size: 120%;
    font-weight:bold
  }
  button:hover{
    background-color:mediumorchid;
  }
  @media (max-width:768px){
    body{
      background-color: rgb(88,0,139,0.521);
    }
    .caixa{
    background-color:rgb(124,51,153);
    width: 90%;
    margin-top: 4%;
    }
    input {
      width: 80%;
      padding: 4% 2%;
      margin-bottom: 4%;
    }
    input {
      width: 60%;
      padding: 2% 1%;
      margin-bottom: 2%;
     
    }
    
  }